
.wrap {
    max-width: 1920;
    margin: 0 auto;
}

header, section, footer {
    width: 100%;
    float: left;
}

.in_header, .container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}


body{
    overflow-x: hidden;
}

.section_1{
    background-size: cover;
}
