
body{
    background-color: #f9f9f9;
}

.wrap{
    margin: 0 auto;
}

.section_1{
    background-image: url(../img/bus_01.png);
    width: 100%;
    height: 630px;
}

.con_wrap_1{
    width: 1410px;
    margin: 0 auto;
}

.section_1 h1{
    margin-top: 170px;
    font-size: 60px;
    font-weight: 700;
    color: #fff;
}

.section_1 p{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 300;
    line-height: 35px;
    color: #fff;
}

.ham_btn img{
    cursor: pointer;
}




/* section_1 end */

section{
    width: 1200px;
}

.section_2{
    width: 100%;
    padding-top: 200px;
    padding-bottom: 200px;
    margin: 0 auto;
}
.section_2 h1{
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 60px;
}
.con_wrap_2{
    margin: 0 auto;
    width: 1200px;
}

.box_wrap_2{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.con_wrap_2 .con_img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.con_wrap_2 img{
    width: 170px;
}

.con_wrap_2 .con_box{
    width: 363px;
    height: 422px;
    padding: 50px 55px 60px 55px;
    box-sizing: border-box;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0px 10px 10px rgb(0 0 0 / 4%);
    transition: 1s;
    transform: translateY(200px);
    opacity: 0;
}

.con_wrap_2 .active_1{
    transform: translateY(0);
    opacity: 1;
}

/* ------------------------ */

.con_wrap_2 h4{
    margin-top: 55px;
    font-size: 24px;
    font-weight: 700;
}

.con_wrap_2 p{
    margin-top: 20px;
    font-size: 17px;
    font-weight: 300;
    line-height: 29px;
}

/* section_2 end */

.section_3{
    width: 100%;
    margin-bottom: 200px;
}

.section_3 .con_wrap_3{
    width: 1200px;
    margin: 0 auto;
}

.con_wrap_3 h1{
    font-size: 60px;
    font-weight: 700;
}

.con_wrap_3 p{
    margin-top: 40px;
    font-size: 24px;
    font-weight: 300;
    line-height: 40px;
    margin-bottom: 60px;
}


/* -------------------------/ */

.section_3 .img_wrap_3{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section_3 .left{
    position: relative;
    width: 580px;
    height: 717px;
    overflow: hidden;
}

.img_wrap_3 .box_wrap_3{
    width: 100%;
    position: absolute;
}

.box_wrap_3 img{
    width: 100%;
    transition: 0.3s;
}

.img_wrap_3 .txt_wrap_3{
    position: absolute;
    left: 45px; top: 600px;
}


.section_3 .right{
    width: 580px;
    height: 717px;
}

.box_wrap_3:hover img{
    transform: scale(1.1);
}


/* //////////////////////////// */


.img_wrap_3 .right_up{
    position: relative;
    width: 580px;
    height: 337px;
    margin-bottom: 43px;
    overflow: hidden;
}

.right_up .box_wrap_4{
    width: 100%;
    position: absolute;
}

.box_wrap_4 img{
    width: 100%;
    transition: 0.4s;
}

.img_wrap_3 .txt_wrap_4{
    position: absolute;
    left: 45px; top: 230px;
}

.box_wrap_4:hover img{
    width: 105%;
}

.img_wrap_3 .right_do{
    position: relative;
    width: 580px;
    height: 337px;
    margin-bottom: 43px;
    overflow: hidden;
}

.right_do .box_wrap_5{
    width: 100%;
    position: absolute;
}

.box_wrap_5 img{
    width: 100%;
    transition: 0.4s;
}

.img_wrap_3 .txt_wrap_5{
    position: absolute;
    left: 45px; top: 230px;
}

.box_wrap_5:hover img{
    width: 105%;
}

.section_3 h5{
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}

.section_3 h6{
    margin-top: 20px;
    font-size: 17px;
    font-weight: 300;
    color: #fff;
}

.left:hover h5{
    text-decoration: underline;
}

.right_up:hover h5{
    text-decoration: underline;
}

.right_do:hover h5{
    text-decoration: underline;
}